body {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
  font-size: 0.85rem;
}
.btn-sm {
  width: 4rem;
  height: 1.8rem;
  font-size: 0.75rem;
}
.btn-lg {
  width: 6rem;
  height: 2.2rem;
  font-size: 1.5rem;
}
.text-dark {
  color: #000;
}
.text-white {
  color: #fff;
}
.bg-dark {
  background-color: #000;
}
.bg-light {
  background-color: #fff;
}
.head-page {
  display: block;
  width: 100%;
  height: 800px;
}
#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#header_left {
  display: block;
  position: relative;
  height: 100%;
  width: 80%;
  background: rgb(79, 60, 51);
  background: linear-gradient(
    86deg,
    rgba(79, 60, 51, 1) 0%,
    rgba(27, 26, 27, 0.8239670868347339) 96%
  );
}
#header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
#header-logo {
  background-image: url("../images/logo-light.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 100%;
  width: 60px;
  height: 30px;
  margin-top: 2em;
  min-width: 4rem;
  min-height: 2rem;
}

#header-menu {
  margin-top: 2em;
  margin-right: 4rem;
}
@media screen and (max-width: 768px) {
  #header-menu {
    display: none;
  }
}
#header-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 35px;
}
#header-menu ul a {
  color: #ffffff;
  transition: 0.5s;
}
#header-menu ul a:hover {
  color: #fa9931;
}
#header_right {
  display: flex;
  z-index: 2;
  justify-content: center;
  position: relative;
  width: 20%;
  height: 100%;
  transform-style: preserve-3d;
  background-color: #fa9931;
}
#header_right div.btn {
  position: absolute;
  top: 0;
  border-radius: 3px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
}
#header_center {
  display: flex;
  position: relative;
  padding-top: 8%;
  height: 100%;
  width: 100%;
}
#header_center #hc_left {
  display: block;
  height: 100%;
  width: 80%;
}

#header_right #hr_left {
  display: flex;
  position: absolute;
  z-index: 2;
  justify-content: flex-end;
  height: 34em;
  width: 12em;
  top: 20%;
  transform: translateZ(-10px);
}
#header_right #hr_right {
  display: flex;
  position: absolute;
  z-index: 2;
  height: 38em;
  width: 15em;
  bottom: 0;
  left: 0;
}
#header_right #hr_left #crescent {
  position: absolute;
  z-index: 1;
  animation-name: crescent-img;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  height: 25em;
  left: 0;
  width: 30em;
  max-width: 100%;
}

@keyframes crescent-img {
  from {
    left: 0em;
  }
  to {
    left: -15em;
  }
}
#header_right #hr_right #hero_on_crescent {
  z-index: 2;
  width: 17em;
  height: 25em;
}
#header_right #heart_box {
  position: absolute;
  animation-name: heart-box;
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  top: 20%;
  right: 0;
  width: 6rem;
  height: 7rem;
  background-color: rgb(80, 77, 77);
  z-index: 1;
  padding: 10px;
  border-radius: 4.5px;
}
#header_right #heart_box #heart_img {
  width: 32.5px;
  height: 30px;
}
#header_right #heart_box #heart_text {
  color: rgb(141, 136, 136);
  font-size: 14px;
  font-weight: 600;
}
#header_right #heart_box #bpm {
  font-size: 20px;
  color: #fff;
}

@keyframes heart-box {
  from {
    right: 0px;
  }
  to {
    right: 5rem;
  }
}
