@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

body {
  background-color: black;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 8vw;
  background: url("./bg.jpg") no-repeat;
  background-position: center center;
  background-color: #464646;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
