* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 95vh;
  background-image: url(images/BMW1.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding: 20px 10%;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  width: 6rem;
  cursor: pointer;
}
nav .btn {
  text-decoration: none;
  color: #fff;
  background: #333;
  padding: 15px 50px;
  border-radius: 30px;
}
.content {
  margin-top: 10%;
}
.content h2 {
  color: red;
  font-size: 34px;
}
.content h1 {
  font-size: 5rem;
  color: #222;
  margin-top: 25px;
}
.content p {
  max-width: 380px;
  font-weight: 500;
  font-size: 14px;
}
.content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px;
}
.color-select {
  display: flex;
  margin-top: 30px;
}
.color-select div {
  background: #333;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.color-select #red {
  background: red;
}
.color-select #blue {
  background: blue;
}
.color-select #black {
  background: black;
}
