body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("bgi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 7rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  transition: 0.5s;
}

.logo {
  font-size: 2rem;
  color: #fff;
  user-select: none;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media screen and (max-width: 1200px) {
  header {
    padding: 1.1rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 1rem 2.2rem;
  }
  .navigation {
    display: none;
  }
}

nav.navigation a {
  position: relative;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

nav.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4em;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
nav.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}
