body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("bgi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* AppBar */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 7rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  transition: 0.5s;
}

.logo {
  font-size: 2rem;
  color: #fff;
  user-select: none;
}

/* Navigation */
.navigation {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media screen and (max-width: 1200px) {
  header {
    padding: 1.1rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 1rem 2.2rem;
  }
  .navigation {
    display: none;
  }
}

nav.navigation a {
  position: relative;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

nav.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4em;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
nav.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* Login Button */
.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}

/* Login Popup */
.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(3rem);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease, height 2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 32rem;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform 0.18 ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.18 ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  background: #162938;
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1.4rem;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  font-weight: 700;
  color: #162938;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 3rem;
  border-bottom: 2px solid #162938;
  margin: 1.7em 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0.3em;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -0.01rem;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #162938;
  font-size: 1em;
  font-weight: 600;
  padding: 0 2.2em 0 0.3em;
}

.input-box .icon {
  position: absolute;
  right: 0.4em;
  font-size: 1.2em;
  color: #162938;
  line-height: 3em;
}

/* Login - Remember Forgot */

.remember-forgot {
  font-size: 0.9em;
  color: #162938;
  font-weight: 600;
  margin: -1.2em 0 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.remember-forgot label:hover,
.remember-forgot input:hover {
  cursor: pointer;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 0.2em;
}

.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 3rem;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 1.2rem 0 0;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}
.btn:hover {
  background: #344450;
}

.login-register {
  font-size: 0.9em;
  color: #fff;
  font-weight: 600;
  margin: 1em 0 0.5rem;
  text-align: center;
}

.login-register p a {
  color: #2095ee;
  text-decoration: none;
}

.login-register p a:hover {
  text-decoration: underline;
}
